/* STYLESHEET Schachbrett */

/* Geometrie und Anordnung der Schachbrettfelder */
.board-square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%; /* Schriftgröße soll sich dynamisch an Größe des Schachbretts anpassen */
}

.board-square:hover {
  cursor: pointer;
}

/* Farben für Felder, Startposition und mögliche Zielpositionen des Springers */
.start-text {
  color: yellow;
  font-weight: 800;
}

.target-text {
  color: white;
  font-weight: 800;
}

.default-text {
  color: black;
  font-weight: 800;
}

.white-square {
  background-color: #00ccff;
}

.black-square {
  background-color: #0099ff;
}
